* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-y: scroll;
    background-color: #FAFAFA;
}

.info {
    width: 40rem;
    height: 300px;
    background-color: #F5EFCA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.infotitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.infotitle p {
    font-family: "Playfair Display", serif;
    color: #7C6A32;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.nome input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.cpf input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.cel input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.data {
    position: relative;

}

.data label{
    font-family: "IBM Plex Serif", serif;
    color: #524317;
    transform: translate(60px, -20px);
    position: absolute;
}

.data input[type="date"] {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
    text-align: center;
}

.genero {
    font-family: "IBM Plex Serif", serif;
    color: #524317;
    display: flex;
    width: 40rem;
    justify-content: center;
    gap: 35px;
}

.masculino {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 66px;
    gap: 10px;
}

.masculino input {
    width: 18px;
    height: 18px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
}

.feminino {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 66px;
    gap: 10px;
}

.feminino input {
    width: 18px;
    height: 18px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
}

.outro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 36px;
    gap: 10px;
}

.outro input {
    width: 18px;
    height: 18px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
}

.mix {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 108px;
    gap: 10px;
}

.mix input {
    width: 18px;
    height: 18px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
}

.acesso {
    width: 40rem;
    height: 300px;
    background-color: #F5EFCA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.cadastro {
    display: block;
}

.email input{
    position: relative;
    margin-bottom: 20px;
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.senha input{
    position: relative;
    margin-bottom: 20px;
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.confirmarsenha input{
    position: relative;
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.usertypetitle p{
    font-family: "Playfair Display", serif;
    color: #7C6A32;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.usertypeoptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

.usertype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usertypeoptions label{
    font-family: "Playfair Display", serif;
    color: #1b1501;
    font-weight: 200;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.endereco {
    width: 80rem;
    height: 300px;
    background-color: #F5EFCA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.enderecotitle p{
    font-family: "Playfair Display", serif;
    color: #7C6A32;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.enderecotitle {
    display: block;
    width: 100%;
}

.rua input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.numero input { 
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.bairro input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.cep input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}

.cidade input {
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    padding-left: 15px;
    font-family: "IBM Plex Serif", serif;
    color: #524317;
}












.nome input:focus, .cpf input:focus, .cel input:focus,
.email input:focus, .senha input:focus, .confirmarsenha input:focus,
.rua input:focus, .numero input:focus, .bairro input:focus,
.cep input:focus, .cidade input:focus{
    outline: none;
}

.nome input:focus, .cpf input:focus, .cel input:focus {
    overflow: hidden;
}

.info input, .endereco input::-webkit-outer-spin-button,
.info input, .endereco input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.info input[type=number] {
  -moz-appearance: textfield;
}
