@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FAFAFA;
}

fieldset {
    border: 1px solid #ccc; 
    border-radius: 12px;
    background-color: #ffffff; 
    padding: 1.5rem 2rem 2rem 2rem;
    box-shadow: 0 4px 8px rgb(58 58 58 / 0.2);
}

fieldset h2 {
    font-family: "IBM Plex Serif", serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    color: #1a1508;
}

legend {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #322A14;
    padding: 0 10px;
    width: auto;
}

label {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    color: #322A14;
}

.form-control, .form-select {
    background-color: #FAFAFA;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    color: #3a3a3a;
    transition: border-color 0.3s ease;
    font-family: "IBM Plex Serif", serif;
}

.form-control:focus, .form-select:focus {
    border-color: #6b5b4b;
    box-shadow: none;
    background-color: #fff;
    color: #3a3a3a;
}

#btnfinal {
    width: 200px;
    background: #B8AF7F;
    color: #322A14;
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 100ms;
    font-family: "IBM Plex Serif", serif;
}

#btnfinal:hover {
    background-color: #746c3f;
    color: #322A14;
}

.header-title {
    font-size: 2.5rem;
    font-weight: 200;
    color: #333333;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Playfair Display", serif;
}


