@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Playfair Display", Helvetica, Arial, sans-serif;
    color: #333333;
    background: #FAF3E0;
}

h1 {
    font-family: "Playfair Display", serif;
}

#texto {
    font-family: "IBM Plex Serif", serif;
}

