@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    background-color: #FFF3B0;
}

.navbar ul {
    display: flex;
    gap: 25px;
}

/* .navbar ul li a {
    font-family: "Nunito", sans-serif;
    font-size: 1.50rem;
    color: #373030;
    font-weight: 600;
}

.navbar ul li {
    transition: 100ms;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

.navbar ul li a:hover {
    color: rgb(158, 147, 44);
} */

.logo p {
    font-family: "Playfair Display", serif;
    font-size: 2.25em;    
    color: #373030;
}

.dropdown {
    position: relative;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #FFF8D3;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown span {
    font-family: "Playfair Display", serif;
    font-size: 1.25em;
    color: #373030;
    font-weight: 600;
}

.dropdown span i {
    font-size: 14px;
    margin-left: 2px;   
}

.dropdowncontent a {
    color: #362E00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdowncontent {
    margin-top: 5px;
    display: block;
    z-index: 1;
}

.btnlogin button {
    background: #FFEA00;
    background: linear-gradient(180deg,rgba(255, 234, 0, 1) 0%, rgba(255, 149, 0, 1) 100%);
    width: 120px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #9F5D00;
    font-family: "Nunito", sans-serif;
    font-size: 1.20em;
    font-weight: bold;
    transform: translateY(-2px);
}

